<p>
  patient-data
</p>
<div class="nav-patient">
  <div>{{tokenUrl}}</div>
  <button (click)="getToken()">getToken patient data</button>
  <div>{{encryptedCapsule}}</div>
  <button (click)="recivePatienData()">recive patien data</button>
  <div>{{patientData}}</div>
  <button (click)="encryptedPatientData()">encrypted data</button>
  <div>{{token}}</div>
  <button (click)="checkToken()"> token from smart kontract </button>
  <div>{{doctorPublic}}</div>
  <button (click)="getDoctorKey()"> get Doctor key </button>
  <div>{{responseHexData}}</div>
  <button (click)="getTokenReKey()"> resForRekey </button>
</div>
