<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <a routerLink="/doc-board">Doctors board</a>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <a routerLink="/reports">Reports</a>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <a routerLink="/sensors">Sensors</a>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <a routerLink="/recomdations">Recomdations</a>
  </button>
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <a routerLink="/meta">meta</a>
  </button>
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <a routerLink="/patient-data">Patient</a>
  </button>
</mat-menu>